.vars {
  --dark: hsl(0 0% 5%);
  --light: hsl(0 0% 95%);
}

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.mainDark {
  color: var(--light);
}

.mainLight {
  color: var(--dark);
}

@media (prefers-color-scheme: dark) {
  .mainAdaptive {
    color: var(--light);
  }
}