.footer {
  margin-top: 1rem;
}

.footer .content {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  text-align: center;
}

.header {
  align-items: center;
  display: flex;
  margin-bottom: 1rem;
}

.header .title {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.75rem;
}

.heading {
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1.75rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.logo {
  display: block;
  height: auto;
  min-width: 100px;
}

.spaceLeft {
  margin-left: 1rem;
}
