@import url("base.css");
@import url("components.css");

html {
  font-size: 100%;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

div.hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-top-width: var(--width);
  border-top-style: solid;
  border-top-color: var(--light);
  border-top-color: var(--dark);
}

.buttons {
  width: 100%;
  height: 37%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.button {
  background-color: #fafafa;
  border-color: #dfe4e8;
  border-width: 0.375px;
  text-align: center;
  align-items: center;
  justify-content: center;
  min-width: 24%;
  min-height: 54%;
  flex: 1;
}

.button-text {
  color: #6e6e6e;
  font-size: 2em;
}

.button-text-dark {
  color: #59a7e5;
  font-size: 2em;
}

.button-background-dark {
  background-color: #59a7e5;
  color: #ffffff;
  font-size: 2em;
}

.button-text-delete {
  color: #59a7e5;
  min-width: 36%;
  font-size: 2em;
}

.button-text-clear {
  color: #e37f60;
  min-width: 36%;
  font-size: 2em;
}

.container {
  background-color: #f5f6f8;
  color: #6e6e6e;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.history {
  align-items: flex-end;
  justify-content: flex-end;
  flex: 2
}

.history-text {
  color: #6e6e6e;
  font-size: 1em;
  margin-right: 15px;
  margin-left: 15px;
  align-self: flex-end;
  flex-wrap: wrap;
}

.keypad {
  background-color: #d1e1f5;
  flex: 2;
}

.result {
  align-items: flex-end;
  justify-content: flex-end;
  flex: 1;
}

.result-text {
  color: #59a7e5;
  font-size: 1em;
  margin-right: 15px;
  margin-left: 15px;
  align-Self: flex-end;
  flex-wrap: wrap;
}

.row {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.separator {
  margin-top: 5px;
} 

.theme {
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
}

.theme-button {
  background-color: #dfe4e8;
  align-self: flex-start;
  margin-top: 15px;
  margin-left: 15px;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 25px;
}   

.top {
  display: flex;
  flex-direction: column;
  flex: 1;
}