/*
.container {
  background-color: #f5f6f8;
  color: #6e6e6e;
  flex-direction: column;
  flex: 1;
}

.top {
  flex-direction: column;
  flex: 1;
}

.separator {
  margin-top: 5;
}

.row {
  flex-direction: row;
  flex: 1;
}

.theme {
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
}

.history {
  align-items: flex-end;
  justify-content: flex-end;
  flex: 2;
}

.result {
  align-items: flex-end;
  justify-content: flex-end;
  flex: 1;
}

.resultText {
  color: #59a7e5;
  font-size: 35;
  margin-right: 15;
  margin-left: 15;
  align-self: flex-end;
  flex-wrap: wrap
}

.historyText {
  color: #6e6e6e;
  font-size: 20;
  margin-right: 15;
  margin-left: 15;
  align-self: flex-end;
  flex-wrap: wrap;
}

.themeButton {
  background-color: #dfe4e8;
  align-self: flex-start;
  margin-top: 15;
  margin-left: 15;
  align-items: center;
  justify-content: center;
  width: 50;
  height: 50;
  border-radius: 25;
}

.keypad {
  background-color: #d1e1f5;
  flex: 2;
}

.buttons {
  width: 100%;
  height: 37%;
  flex-direction: row;
  flex-wrap: wrap;
}

.button {
  border-color: #dfe4e8;
  border-width: 0.375;
  align-items: center;
  justify-content: center;
  min-width: 24%;
  min-height: 54%;
  flex: 1;
}

.textButton {
  color: #6e6e6e;
  font-size: 32;
}

*/

.test {
  @apply text-primary
}

/* Old Styles */

/*

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*/
