@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-accent: 192 9% 89%;
    --color-accent-dark: 240 1% 44%;
    --color-dark: 228 6% 17%;
    --color-light: 220 18% 97%;
    --color-primary: var(--color-primary-hs) 62%;
    --color-primary-dark: var(--color-primary-hs) 38%;
    --color-primary-hs: 207 73%;
    --color-primary-light: var(--color-primary-hs) 86%;
    --color-secondary: var(--color-secondary-hs) 64%;
    --color-secondary-dark: var(--color-secondary-hs) 39%;
    --color-secondary-hs: 12 72%;
    --color-secondary-light: var(--color-secondary-hs) 89%;
    --color-xdark: 220 5% 11%;
    --color-xlight: 0 0% 98%;
  }
}

/*

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*/
