@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --rpncalc-color-primary: var(--rpncalc-color-primary-hs) 62%;
    --rpncalc-color-primary-dark: var(--rpncalc-color-primary-hs) 38%;
    --rpncalc-color-primary-hs: 207 73%;
    --rpncalc-color-primary-light: var(--rpncalc-color-primary-hs) 86%;
    --rpncalc-color-secondary: var(--rpncalc-color-secondary-hs) 64%;
    --rpncalc-color-secondary-dark: var(--rpncalc-color-secondary-hs) 39%;
    --rpncalc-color-secondary-hs: 12 72%;
    --rpncalc-color-secondary-light: var(--rpncalc-color-secondary-hs) 89%;
  }
}

/*
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*/
