.vars {
  --dark-hsl: 0deg 0% 5%;
  --light-hsl: 0deg 0% 95%;
  --dark: hsl(var(--dark-hsl));
  --light: hsl(var(--light-hsl));

  --bg-attachment: fixed;
  --bg-size: 100% 291px, 100% 214px, var(--bg-gradient-size);
  --bg-gradient-dark: linear-gradient(to bottom, hsla(var(--dark-hsl) / var(--bg-gradient-opacity)), hsla(var(--dark-hsl) / 0%)) no-repeat top;
  --bg-gradient-light: linear-gradient(to bottom, hsla(var(--light-hsl) / 0%), hsla(var(--light-hsl) / var(--bg-gradient-opacity))) no-repeat top;
  --bg-gradient-size: 100%;
  --bg-gradient-opacity: 80%;
  --bg-gradient-opacity-light: calc(var(--bg-gradient-opacity) * 0.8);
  --bg-overlay-light: linear-gradient(to bottom, hsla(var(--light-hsl) / var(--bg-gradient-opacity-light)), hsla(var(--light-hsl) / var(--bg-gradient-opacity-light))) no-repeat top;
  --waves-bottom: url("./assets/waves-bottom.svg") no-repeat bottom;
  --waves-top: url("./assets/waves-top.svg") no-repeat top;
}

.gradient {
  background:
    var(--bg-gradient-light);
  background-attachment: var(--bg-attachment);
  background-size: var(--gradint-size);
}

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.mainDark {
  background-color: var(--dark);
  color: var(--light);
}

.mainLight {
  background-color: var(--light);
  color: var(--dark);
}

.waves {
  background:
    var(--waves-top),
    var(--waves-bottom),
    var(--bg-overlay-light);
  background-attachment: var(--bg-attachment);
  background-size: var(--bg-size);
}

.wavesGradient {
  background:
    var(--waves-top),
    var(--waves-bottom),
    var(--bg-gradient-light);
  background-attachment: var(--bg-attachment);
  background-size: var(--bg-size);
}

@media (prefers-color-scheme: dark) {
  .gradient {
    background:
      var(--bg-gradient-dark);
    background-attachment: var(--bg-attachment);
    background-size: var(--bg-gradient-size);
  }

  .mainAdaptive {
    background-color: var(--dark);
    color: var(--light);
  }

  .waves {
    background:
      var(--waves-top),
      var(--waves-bottom);
    background-attachment: var(--bg-attachment);
    background-size: var(--bg-size);
  }

  .wavesGradient {
    background:
      var(--waves-top),
      var(--waves-bottom),
      var(--bg-gradient-dark);
    background-attachment: var(--bg-attachment);
    background-size: var(--bg-size);
  }
}